<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero Display</title>
</head>
<body>
<center>
  <table>
    <tr>
      <th>Superhero Id</th>
      <th>Superhero Name</th>
      <th>AlterEgo Name</th>
      <th>Primary Hero Ability</th>
      <th>Secondary Hero Ability</th>
      <th>Catchphrase</th>
    </tr>

    <tr>
      <td>{{superhero_data.id}}</td>
      <td>{{superhero_data.superhero_name}}</td>
      <td>{{superhero_data.alter_ego_name}}</td>
      <td>{{superhero_data.primary_hero_ability}}</td>
      <td>{{superhero_data.secondary_hero_ability}}</td>
      <td>{{superhero_data.superhero_catchphrase}}</td>
      <td><a href="{% url 'superheroesapp:superhero_edit' superhero_data.id %}">Edit</a> </td>
    </tr>
  </table>



</center>
</body>
</html>